{% import "bootstrap/utils.html" as utils %} {% extends "base.html" %} {% block title %}Departments{% endblock %} {% block body %}
<div class="content-section">
    <div>
        {{ utils.flashed_messages() }}

        <h1 style="text-align:center;">Departments</h1>
        {% if departments %}
        <hr class="intro-divider">
        <div class="center">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="15%"> Name </th>
                        <th width="40%"> Description </th>
                        <th width="15%"> Edit </th>
                        <th width="15%"> Delete </th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                    <tr>
                        <td> {{ department.name }} </td>
                        <td> {{ department.description }} </td>
                        <td>
                            <a href="{{ url_for('admin.edit_department', id=department.id) }}">
                                        Edit
                                    </a>
                        </td>
                        <td>
                            <a href="{{ url_for('admin.delete_department', id=department.id) }}">
                                        Delete
                                    </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="text-align: center">
            {% else %}
            <div style="text-align: center">
                <h3> No departments have been added. </h3>
                <hr class="intro-divider"> {% endif %}
                <a href="{{ url_for('admin.add_department') }}" class="btn btn-default btn-lg">
                            Add Department
                        </a>
            </div>
        </div>
    </div>

    {% endblock %}
</div>