{% extends "base.html" %} {% block title %}Server{% endblock %} {% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div style="text-align: center">
                    <h1> 500 Error </h1>
                    <h3> Server has an error. </h3>
                    <hr class="intro-divider">
                    <a href="{{ url_for('home.homepage') }}" class="btn btn-default btn-lg">
                        Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}